<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" package="com.ekolekta.e_kolekta">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EKALAT"
        tools:targetApi="31">
        <activity
            android:name="com.ekolekta.e_kolekta.ForgetPassword"
            android:exported="false" />
        <activity
            android:name="com.ekolekta.e_kolekta.VerifyPhoneNo"
            android:exported="false" />
        <activity
            android:name="com.ekolekta.e_kolekta.Userlog"
            android:exported="false" />
        <activity
            android:name="com.ekolekta.e_kolekta.Schedule"
            android:exported="false" />
        <activity
            android:name="com.ekolekta.e_kolekta.News"
            android:exported="false" />
        <activity
            android:name="com.ekolekta.e_kolekta.Howto"
            android:exported="false" />
        <activity
            android:name="com.ekolekta.e_kolekta.Capture"
            android:exported="false" />
        <activity
            android:name="com.ekolekta.e_kolekta.MyAccount"
            android:exported="false" />
        <activity
            android:name="com.ekolekta.e_kolekta.Dashboard"
            android:exported="false" />
        <activity
            android:name="com.ekolekta.e_kolekta.signup"
            android:exported="false" />
        <activity
            android:name="com.ekolekta.e_kolekta.login"
            android:exported="false" />
        <activity
            android:name="com.ekolekta.e_kolekta.OnBoarding"
            android:exported="false" />
        <activity
            android:showOnLockScreen="true"
            android:name="com.ekolekta.e_kolekta.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ekolekta.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>